<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.senoops.dao.ESectionMapper">
    <resultMap id="BaseResultMap" type="com.senoops.model.ESection">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="course_id" property="courseId" jdbcType="INTEGER"/>
        <result column="section_name" property="sectionName" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, course_id, section_name
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from e_section
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectByCourseId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from e_section
        <where>
            <if test="courseId!=null">
                course_id = #{courseId,jdbcType=INTEGER}
            </if>
        </where>
        <if test="orderUtil != null">
            ORDER BY ${orderUtil.orderBy}
            <if test="orderUtil.isDesc">desc</if>
        </if>
        <if test="pageUtil != null">
            LIMIT #{pageUtil.pageStart},#{pageUtil.count}
        </if>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from e_section
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <delete id="delete" parameterType="java.util.ArrayList">
        delete from e_section
        <where>
            <if test="sectionIdList!=null">
                id IN
                <foreach collection="sectionIdList" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </delete>

    <insert id="insertList" parameterType="java.util.List">       
        insert into e_section (course_id,section_name) VALUES
        <foreach collection="list" index="index" item="section" separator=",">
        	<trim prefix="(" suffix=")">
	       	 	<if test="section.courseId != null">
	               	#{section.courseId,jdbcType=INTEGER},
	           	</if>
	            <if test="section.sectionName != null">
	                #{section.sectionName,jdbcType=VARCHAR}
	            </if>
        	</trim>
        </foreach>
     </insert>

    <insert id="insertSelective" parameterType="com.senoops.model.ESection">
        insert into e_section
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="courseId != null">
                course_id,
            </if>
            <if test="sectionName != null">
                section_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="courseId != null">
                #{courseId,jdbcType=INTEGER},
            </if>
            <if test="sectionName != null">
                #{sectionName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.senoops.model.ESection">
        update e_section
        <set>
            <if test="courseId != null">
                course_id = #{courseId,jdbcType=INTEGER},
            </if>
            <if test="sectionName != null">
                section_name = #{sectionName,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>