<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.senoops.dao.EVideoSrcMapper" >
  <resultMap id="BaseResultMap" type="com.senoops.model.EVideoSrc" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="video_name" property="videoName" jdbcType="VARCHAR" />
    <result column="video_url" property="videoUrl" jdbcType="VARCHAR" />
    <result column="cover_url" property="coverUrl" jdbcType="VARCHAR" />
    <result column="video_duration" property="videoDuration" jdbcType="VARCHAR" />
    <result column="video_size" property="videoSize" jdbcType="VARCHAR" />
    <result column="media_type" property="mediaType" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
    <result column="create_person" property="createPerson" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, video_name, video_url, cover_url, video_duration, video_size, media_type, comment, 
    insert_time, create_person
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from e_video_src
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from e_video_src
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.senoops.model.EVideoSrc" >
    insert into e_video_src (id, video_name, video_url, 
      cover_url, video_duration, video_size, 
      media_type, comment, insert_time, 
      create_person)
    values (#{id,jdbcType=INTEGER}, #{videoName,jdbcType=VARCHAR}, #{videoUrl,jdbcType=VARCHAR}, 
      #{coverUrl,jdbcType=VARCHAR}, #{videoDuration,jdbcType=VARCHAR}, #{videoSize,jdbcType=VARCHAR}, 
      #{mediaType,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR}, #{insertTime,jdbcType=TIMESTAMP}, 
      #{createPerson,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.senoops.model.EVideoSrc" >
    insert into e_video_src
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="videoName != null" >
        video_name,
      </if>
      <if test="videoUrl != null" >
        video_url,
      </if>
      <if test="coverUrl != null" >
        cover_url,
      </if>
      <if test="videoDuration != null" >
        video_duration,
      </if>
      <if test="videoSize != null" >
        video_size,
      </if>
      <if test="mediaType != null" >
        media_type,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="insertTime != null" >
        insert_time,
      </if>
      <if test="createPerson != null" >
        create_person,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="videoName != null" >
        #{videoName,jdbcType=VARCHAR},
      </if>
      <if test="videoUrl != null" >
        #{videoUrl,jdbcType=VARCHAR},
      </if>
      <if test="coverUrl != null" >
        #{coverUrl,jdbcType=VARCHAR},
      </if>
      <if test="videoDuration != null" >
        #{videoDuration,jdbcType=VARCHAR},
      </if>
      <if test="videoSize != null" >
        #{videoSize,jdbcType=VARCHAR},
      </if>
      <if test="mediaType != null" >
        #{mediaType,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createPerson != null" >
        #{createPerson,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.senoops.model.EVideoSrc" >
    update e_video_src
    <set >
      <if test="videoName != null" >
        video_name = #{videoName,jdbcType=VARCHAR},
      </if>
      <if test="videoUrl != null" >
        video_url = #{videoUrl,jdbcType=VARCHAR},
      </if>
      <if test="coverUrl != null" >
        cover_url = #{coverUrl,jdbcType=VARCHAR},
      </if>
      <if test="videoDuration != null" >
        video_duration = #{videoDuration,jdbcType=VARCHAR},
      </if>
      <if test="videoSize != null" >
        video_size = #{videoSize,jdbcType=VARCHAR},
      </if>
      <if test="mediaType != null" >
        media_type = #{mediaType,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createPerson != null" >
        create_person = #{createPerson,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.senoops.model.EVideoSrc" >
    update e_video_src
    set video_name = #{videoName,jdbcType=VARCHAR},
      video_url = #{videoUrl,jdbcType=VARCHAR},
      cover_url = #{coverUrl,jdbcType=VARCHAR},
      video_duration = #{videoDuration,jdbcType=VARCHAR},
      video_size = #{videoSize,jdbcType=VARCHAR},
      media_type = #{mediaType,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      insert_time = #{insertTime,jdbcType=TIMESTAMP},
      create_person = #{createPerson,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>