<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.senoops.dao.EVideoMapper">
    <resultMap id="BaseResultMap" type="com.senoops.model.EVideo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="section_id" property="sectionId" jdbcType="INTEGER"/>
        <result column="video_name" property="videoName" jdbcType="VARCHAR"/>
        <result column="video_url" property="videoUrl" jdbcType="VARCHAR"/>
        <result column="cover_url" property="coverUrl" jdbcType="VARCHAR"/>
        <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
      id, section_id, video_name, video_url, cover_url, insert_time
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from e_video
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectBySectionId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from e_video
        <where>
            <if test="sectionId!=null">
                section_id = #{sectionId,jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from e_video
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <delete id="delete" parameterType="java.util.ArrayList">
        delete from e_video
        <where>
            <if test="videoIdList!=null">
                id IN
                <foreach collection="videoIdList" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </delete>

    <insert id="insertSelective" parameterType="com.senoops.model.EVideo">
        insert into e_video
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="sectionId != null">
                section_id,
            </if>
            <if test="videoName != null">
                video_name,
            </if>
            <if test="videoUrl != null">
                video_url,
            </if>
            <if test="coverUrl != null">
                cover_url,
            </if>
            <if test="insertTime != null">
                insert_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="sectionId != null">
                #{sectionId,jdbcType=INTEGER},
            </if>
            <if test="videoName != null">
                #{videoName,jdbcType=VARCHAR},
            </if>
            <if test="videoUrl != null">
                #{videoUrl,jdbcType=VARCHAR},
            </if>
            <if test="coverUrl != null">
                #{coverUrl,jdbcType=VARCHAR},
            </if>
            <if test="insertTime != null">
                #{insertTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    
 	<insert id="insertList" parameterType="java.util.List">       
        insert into e_video (section_id,video_name,video_url) VALUES
        <foreach collection="videoList" index="index" item="video" separator=",">
        	(#{video.sectionId,jdbcType=INTEGER},#{video.videoName,jdbcType=VARCHAR},#{video.videoUrl,jdbcType=VARCHAR})
        	<!-- <trim prefix="(" suffixOverrides="," suffix=")">
	       	 	<if test="video.sectionId != null">
	                #{video.sectionId,jdbcType=INTEGER}
	            </if>
	            <if test="video.videoName != null">
	                #{video.videoName,jdbcType=VARCHAR}
	            </if>
	            <if test="video.videoUrl != null">
	                #{video.videoUrl,jdbcType=VARCHAR}
	            </if>	            
        	</trim> --> 
        </foreach>
     </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.senoops.model.EVideo">
        update e_video
        <set>
            <if test="sectionId != null">
                section_id = #{sectionId,jdbcType=INTEGER},
            </if>
            <if test="videoName != null">
                video_name = #{videoName,jdbcType=VARCHAR},
            </if>
            <if test="videoUrl != null">
                video_url = #{videoUrl,jdbcType=VARCHAR},
            </if>
            <if test="coverUrl != null">
                cover_url = #{coverUrl,jdbcType=VARCHAR},
            </if>
            <if test="insertTime != null">
                insert_time = #{insertTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>